.container {
    display: grid;
    overflow: hidden;
    align-items: center;
    height: 400px;
    margin: 0 0.5em;
    cursor: pointer;
    background: linear-gradient(150.38deg, rgb(255 255 255 / 42%) -94.25%, rgb(14 12 12 / 70%) 100%);
    justify-items: center;
}

.image {
    z-index: 2;
}

.image:hover {
    transition-duration: 1s;
    opacity: 0;
}

.name {
    position: absolute;
    z-index: 1;
    align-items: center;
}
