.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: "name name" "info photo";
  column-gap: 50px;
}

.name {
  grid-area: name;
}
.personalInfo {
  margin: 0;
  grid-area: info;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px;
}
.photo {
  grid-area: photo;
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "photo" "info";
    row-gap: 10px;
  }
  .photo {
    justify-self: center;
  }
}
