.main {
    display: grid;
    gap: 2em;
    justify-items: center;
}

.text {
    margin: 7% 15% 0;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 1.1em;
    font-weight: 800;
    line-height: 1.8em;
}

@media (max-width: 900px) {
    .text {
        margin: 0 5%;
        font-size: 1em;
    }
}
