
.sidebar {
	display: grid;
	gap: 20px;
}

.sidebarItem {
	display: grid;
	gap: 10px;
	grid-template-rows: 1fr;
	grid-template-columns: auto 1fr;
	align-items: center;
	svg {
		cursor: pointer;
	}
}

.openedArrow {
	transform: rotate(90deg);
}