@import "./common";

html,
body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background: url("./background_main.png") no-repeat;
    background-color: black;
    background-size: cover;
    font-family: Mukta, sans-serif;
    font-size: 20px;

    ::-webkit-scrollbar {
        width: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}
