.menu {
    justify-self: end;
    letter-spacing: 0.15em;
    font-weight: 800;
}

.menuItem {
    display: inline-block;
    margin-left: 1em;
    padding: 0.3em;
    border-radius: 0.3em;
}

.menuItem:hover {
    text-shadow: 2px 2px 20px rgb(255 231 74 / 80%);
}

.menuItem:active {
    text-shadow: 2px 2px 20px rgb(255 221 0);
}
